<div class="animated fadeIn" style="-webkit-animation-delay: 1s">
    <div class="text-zone">
        <p>&nbsp;</p>
        <h1>O que é um Web Developer?</h1>
        <br>
        <p style="max-width: 800px;">
            Desenvolvedor web ou web developer é o nome mais comum para designar o profissional responsável pela criação de sites e aplicações baseadas em internet.
            O termo as vezes se funde ou confunde com web designer,  web master ou simplesmente programador.
            Mas há diferenças entre essas profissões.
        </p>
        <br>

        <h1>O que faz um Web Developer?</h1>
        <br>
        <p style="max-width: 800px;">
            O trabalho de desenvolvimento web consiste em planejar, construir, testar e dar manutenção em sites e aplicações de internet.
            Sites institucionais, blogs, lojas virtuais, sistemas web e diversos tipos de aplicações que rodam em plataforma web.
            Faz parte também do seu trabalho o atendimento a clientes tanto na fase de elaboração do projeto como no suporte e melhorias em projetos já desenvolvidos.
            Esse trabalho de relacionamento é o mais delicado e exige uma visão ampla do mercado, dos processos de gestão de empresas, de marketing e outras competências necessárias.
        </p>
    </div>
</div>